@mixin do-hover {

    .do__list-item:hover & {

        @content;
    }

    & {

        transition: all ease-in-out var(--transition-duration);
    }
}

.do {

    margin-bottom: var(--section-gap);

    @include tablet {

        margin-bottom: var(--section-gap-tablet);
    }

    @media (max-width: 400px) {
        
        margin-bottom: 40px;
    }

    margin-top: -80px;

    @include tablet () {

        margin-top: -140px;
    }

    &__main-title {

        @include typography (46px, 59.8px, 0.03em, 800);
        margin-bottom: 47px;

        @media (max-width: 1000px) {
            
            text-align: center;
        }

        @media (max-width: 460px) {
            
            @include typography (34px, 40px, 0.03em, 800);
        }

        @media (max-width: 350px) {
            
            @include typography (26px, 34px, 0.03em, 800);
        }
    }

    &__list {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px 30px;

        @media (max-width: 900px) {

            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 20px;
        }

        @media (max-width: 600px) {

            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            grid-gap: 15px;
        }
    }

    &__list-item {

        padding: 35px 28px 55px;
        box-shadow: var(--shadow-medium);
        transition: all ease-in-out var(--transition-duration);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include hover {

            background-color: var(--color-orange);
        }
    }

    &__item-svg {

        > path {

            fill: #FF6B09;

            @include do-hover {

                fill: var(--color-white);
            }
        }
    }

    &__item-title {

        @include typography (20px, 28px, 0.08em, 700);
        max-width: 357px;
        margin-bottom: 32px;
        position: relative;

        @media (max-width: 440px) {
            
            // @include typography (14px, 20px, 0.08em, 700);
        }

        @include do-hover {

            color: white;
        }

        &::after {

            content: '';
            width: 20px;
            height: 2px;
            background-color: var(--color-orange);
            position: absolute;
            bottom: -13px;
            @include x-center;

            @include do-hover {

                background-color: white;
            }
        }
    }

    &__item-text {

        color: var(--color-gray);

        @include do-hover {

            color: white;
        }
    }
}