.feedback {

    margin-bottom: 120px;
    padding-bottom: 104px;
    overflow: hidden;

    &__inner {

        position: relative;
}

    &__main-title {

        @include typography (46px, 59.8px, 0.03em, 800);
        text-align: center;
        margin-bottom: 50px;
    }

    &__comment {

        display: grid;
        grid-template-columns: 1fr;
    }

    &__comment-images {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        margin-top: 32px;
    }

    &__comment-inner {

        padding: 50px 82px;
        box-shadow: var(--shadow-small);
        display: flex;
        gap: 40px;
        position: relative;
    }

    &__arrow--left, &__arrow--right {

        width: 27px;
        height: 16px;
        background-image: url(../../images/arrow-next.svg);
        background-position: center;
        background-repeat: no-repeat;

        &::after {
        
            color: transparent;
        }
    }

    &__arrow--left {

        right: -58px;
    }

    &__arrow--right {

        left: -58px;
        transform: scaleX(-1);
    }

    &__pagination {

        display: flex;
        align-items: center;
        justify-content: center;

        & span {

            background-color: var(--color-orange);
            width: 54px;
            height: 54px;
            @include circle;
            background-position: center;
            background-size: cover;
            opacity: 1;

            &.swiper-pagination-bullet-active {

                border: 1px solid var(--color-orange);
            }
        }
    }

    &__image {

        @include circle;
        width: 150px;
        height: 150px;
        object-position: top;
    }

    &__comment-author {
   
        @include typography (30px, 36.6px, 0.03em, 800, var(--color-orange));
        margin-bottom: 10px;
    }

    &__comment-bio {

        @include typography (14px, 18px, 0.08em, 500, var(--color-gray));
        max-width: 482px;
        margin-bottom: 18px;
    }

    &__comment-commentary {

        @include typography (18px, 28px, 0, 500);
    }

    &__comment-link {

        @include typography (18px, 28px, 0, 500, var(--color-orange));
        text-decoration: underline;
    }

    & .swiper-pagination-bullet {

        position: relative;
        top: 0px;
        background-position: top;
        box-sizing: content-box;
    }
}