.registration {

    background-image: linear-gradient(var(--color-black-transparent), var(--color-black-transparent)), url(../../images/studio.jpg);
    background-size: cover;

    &__inner {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 100px 0 62px;
    }

    &__main-title {

        @include typography (46px, 59.8px, 0.03em, 800, var(--color-white));
        max-width: 980px;
        margin-bottom: 50px;

        > span {

            color: var(--color-orange);
        }
    }

    &__subtitle {

        @include typography (30px, 36.6px, 0.08em, 600, var(--color-white));
        max-width: 1090px;
        margin-bottom: 56px;

        > span {

            color: var(--color-orange);
        }
    }

    &__form {

        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;

        &::after {

            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: var(--color-black-transparent) url(../../images/Loading_icon.gif) center / 50px no-repeat;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
        }

        &._sending {

            opacity: 1;
            visibility: visible;
        }
    }

    &__input {

        @include typography (20px, 24.4px, 0.08em, 600, var(--color-white));
        padding: 23px 40px;
        border: 1px solid var(--color-white);
        background-color: transparent;
        min-width: 478px;

        &::placeholder {

            color: var(--color-white);
        }

        &.error {

            box-shadow: 0 0 20px 4px rgb(255, 0, 0);
        }
    }

    &__textarea {

        @include typography (20px, 24.4px, 0.08em, 600, var(--color-white));
        padding: 23px 40px;
        border: 1px solid var(--color-white);
        background-color: transparent;
        min-width: 478px;
        opacity: 1;
        height: 130px;

        &::placeholder {

            color: var(--color-white);
        }
    }

    &__button--orange {

        margin-top: 50px;
        margin-bottom: 80px;
        width: 478px;
    }
}