body {
    
    font-family: var(--font-family-base);
    @include typography (18px, 28px, 0.08em, 500);
    background-color: var(--color-white);
    // overflow-x: hidden;
}

a, button, input, textarea, svg * {

    transition-duration: var(--transition-duration);
}